<div class="one">
  <h1>ABOUT</h1>
  <p>
    We strive to provide new and interesting electronic sounds from around the world.
  </p>
  <h1>INTERESTED IN A DJ SET?</h1>
  <p>
  If you are interested in a demo set, email us with the following:
  <p>
  <ul>
    <li>* link to a demo mix (at least 1 hour)</li>
    <li>* what day or days you would like to do your show</li>
  </ul>
  <p>
    <a href="/users/sign_up">Create an account</a> on the site and fill in your details. When you are approved to dj on the site you will be able to connect your source client to the icecast server with the same username and password.
  </p>
  <h1>CONTACT</h1>
  <p>
  For any other inquires, please email <i>info@datafruits.fm</i>.
  </p>
</div>
