<div class="one">
  <h1>BROADCASTING HELP</h1>
  <p>
  Not sure how to broadcast? Here are the steps.
  </p>
  <h1>1. GET AN ICECAST CLIENT</h1>
  B.U.T.T. (broadcast using this tool) => <a href="http://sourceforge.net/projects/butt/">BUTT</a> (mac and windows)

  Ladiocast is good for mac => <a href="https://www.macupdate.com/app/mac/27022/ladiocast">Ladiocast</a>

  Traktor works great too! <%= html_pipeline(":+1:") %>

  Also you can use shoutvst in a DAW like ableton => <a href="https://code.google.com/p/shoutvst/">shoutvst</a>
  </p>
  <h1>2. ENTER YOUR INFO </h1>
  Here is the info you need to enter in order to stream audio to our server:
  <pre>
  host: radio.datafruits.fm
  port: 9000
  password: username and password separated by a semicolon. example: username;password
  mount: /datafruits
  </pre>

  If your client has a 'username' field, just change it to 'source'.
  <h1>3. SUBMIT YOUR SHOW TO THE SCHEDULE</h1>
  <p>
  When you are ready to do your show, please <a href="/shows/new">add it to the schedule</a>.
  </p>
</div>
