<div class="one">
  <h1> LISTEN! </h1>
  <p>
  You can always hit the big play button at the top of the page, or choose one of the other listening options below.
  </p>
  <h2>DESKTOP</h2>
  <p>
  Download .pls file to listen on your pc in winamp, vlc, whatever...
  </p>
  <a href="/datafruits.pls">pls file</a> 
  <h2>MOBILE</h2>
  <p>
  or grab the iphone app!
  </p>
  <br/>
  <a href="http://itunes.apple.com/us/app/datafruits.fm/id543001759?ls=1&mt=8">iphone app</a>

  <br/>

  <h2>MORE</h2>
  <p>
  Here are the direct links to the stream:
  </p>
  <a href="http://radio.datafruits.fm:8000/datafruits.mp3">mp3 stream</a>
  <h2>HELP</h2>
  <p>
  If you are having any trouble, just send a message to our <a href="http://twitter.com/datafruits">twitter</a> or info@datafruits.fm !
  </p>
</div>
