<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Delete', @post, :confirm => 'Are you sure you want to delete?', :method => :delete %> |
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
