<div class="clearfix">
  <div id="posts">
    <% @posts.sort{|a,b| a.date <=> b.date}.reverse.each do |article| %>
      <div class="post">
        <%= link_to article.title, article, class: 'blog-title' %>
        <% if article.image.url(:thumb) %>
          <%= link_to(image_tag(article.image.url(:thumb)), article) %>
          <br />
        <% end %>
        <br />
        <pre>
          <%= html_pipeline(article.summary) %>
        </pre>
        <br />
      </div>
    <% end %>
  </div>
</div>
