<%= image_tag @post.image.url %>
<br/>
<span class="blog-title">
  <%= @post.title %>
</span>
<br/>
<pre>
  <%= html_pipeline(show_body(@post)) %>
</pre>

<% if can? :edit, @show %>
  <%= link_to 'Edit', edit_show_path(@show) %>
<% end %>
